<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Fire Map</title>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <style>
        #map {
            height: calc(100vh - 20px) !important;
        }
    </style>
    <script src="/static/js/leaflet-heat.js"></script>
</head>

<body>
  <div id="map" style="height: 500px;"></div>

  <script>
    var world_street_map = L.tileLayer('http://services.arcgisonline.com/arcgis/rest/services/World_Street_Map/MapServer/tile/{z}/{y}/{x}', {
      attribution: 'Tiles &copy; Esri &mdash; Source: Esri, DeLorme, NAVTEQ, USGS, Intermap, iPC, NRCAN, Esri Japan, METI, Esri China (Hong Kong), Esri (Thailand), TomTom, 2012'
    });

    // Initialize the map
    var map = L.map('map', {
      layers: [world_street_map] // Default basemap
    }).setView([53.381557878700825, -1.482525744182223], 15);

      var markers = {};

      function updateMarkers() {
          fetch('http://localhost:3000/device-data')
              .then(response => response.json())
              .then(devices => {
                  devices.forEach(device => {
                      var latlng = device.location.split(',').map(Number);
                      var popupContent = `Device: ${device.sensor_name}<br>Temperature: ${device.temperature} °C<br>Humidity: ${device.humidity} %`;

                      if (markers[device.sensor_name]) {
                          // Update existing marker
                          markers[device.sensor_name].setLatLng(latlng).setPopupContent(popupContent);
                      } else {
                          // Create new marker
                          markers[device.sensor_name] = L.marker(latlng).addTo(map).bindPopup(popupContent);
                      }
                  });
              })
              .catch(error => console.error('Error fetching device data:', error));
      }

      // Initial update and set interval to periodically update markers
 




      // Function to update heatmaps for all devices
      function updateHeatmaps() {
          fetch('http://localhost:3000/all-heatmap-data')
              .then(response => response.json())
              .then(allHeatmapData => {
                  // Clear existing heatmaps
                  map.eachLayer(function (layer) {
                      if (!!layer._latlngs) { // Heatmap layer detected
                          map.removeLayer(layer);
                      }
                  });

                  // Add a new heatmap layer for each device
                  allHeatmapData.forEach(deviceHeatmapData => {
                      var heatLayer = L.heatLayer([deviceHeatmapData], { radius: 50 }).addTo(map);
                  });
              })
              .catch(error => console.error('Error fetching heatmap data:', error));
      }
      updateMarkers();
      setInterval(updateMarkers, 60000); // Update every 60 seconds
      // Initial update and set interval to periodically update heatmaps
      updateHeatmaps();
      setInterval(updateHeatmaps, 60000); // Update every 60 seconds






  </script>
</body>

</html>
